* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #050505;
}
body {
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
input {
  outline: none;
}
textarea {
  resize: none;
}
em,
i {
  font-style: normal;
}
/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  /* IE6/7专用 */
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

/* 特殊页面样式 开始 */
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    pointer-events: none;  /* 禁止在图片上触发事件 */
    -webkit-user-select: none; /* ios防止长按页面元素被选中 */
    user-select: none; /* ios防止长按页面元素被选中 */
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
select {
    outline: none;   /*去除边框边缘线*/
    background: none; /*去除背景*/
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; /* 更改 input 默认样式 */
}

div {
    -webkit-user-select: none; /* ios防止长按页面元素被选中 */ 
    user-select: none; /* ios防止长按页面元素被选中 */ 
    -webkit-touch-callout: none; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 去掉移动端点击元素产生背景或边框 */
}

img[src=""] {
    display: none;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
input::-webkit-search-cancel-button {
    display: none;
}
/* 特殊页面样式 结束 */